* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-container button , #section-container section {
  margin-top: 4px;
  margin-bottom: 4px;
}

#color-palette , #pixel-board {
  display: inline-flex;
  flex-wrap: wrap;
}

#color-palette div {
  margin: 2px;
}

#insert-pixels-container {
  display: flex;
}

#insert-pixels-container :is(input, button){
  margin: 0 8px;
}

#board-size {
  width: 100px;
  text-align: center;
}

.pixel , .color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: white;
}
